
 
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: 'DM Sans', sans-serif;

    
}
.bg-body-tertiary{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;


}


.my-logo{
    max-width: 20%;
}

.navbar-collapse{
    padding: 20px;
    border: 30px;
    
}




.navbar-brand:hover{
  
    color:#ED419A;
    text-transform: uppercase;
   
}

.active{
    font-weight: bold;
}

.nav-link:hover{
    color:#ED419A ;
    text-transform: uppercase;
    
}
.navbar navbar-expand-lg bg-body-tertiary{
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 
}

.text-decoration-none{
    color: black;
}
.card-body:hover{
background-color: #ED419A  ;

box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
transition: 0.25s transform, 0.25s -webkit-transform;
cursor: pointer;
position: relative;
}



.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.my-title{
    overflow-y: hidden;
}
.bg-white {
    --bs-bg-opacity: 1;
    height: 150px;
    background-color: #C8C8A9!important;
}


